.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right > .fighter-preview___img {
  transform: scaleX(-1); /*I have added transforming of this image because this is not a good manner to attack from the back :)*/
}

.preview-container___root .fighter-preview___img {
  max-height: 290px;
}

.fighter-preview___text {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 15px;
  font-family: 'Arial Black';
  font-weight: 700;
}
